@page "/BizGroupE/EditAuthorByOptimistic/ListAuthors"

@* アプリケーションサービス *@
@inject IHttpClientFactory httpClientFactory
@inject NavigationManager navigationManager

<PageTitle>著者データの編集</PageTitle>

<h3>著者データの編集</h3>
<h5>編集対象となる著者を選択してください。</h5>

@if (authors == null)
{
    <p>データをロード中です...</p>
}
else if (authors.Count == 0)
{
    <p>データがありません。</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>著者ID</th>
                    <th>著者名</th>
                    <th>電話番号</th>
                    <th>州</th>
                    <th>契約有無</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (authors != null) foreach (var a in authors)
                    {
                        <tr>
                            <td><a href="/BizGroupE/EditAuthorByOptimistic/EditAuthor/@a.AuthorId">@a.AuthorId</a></td>
                            <td>@a.AuthorName</td>
                            <td>@a.Phone</td>
                            <td>@a.State</td>
                            <td>@if (a.Contract)
                                {
                                    <input type="checkbox" disabled checked /> <span>契約あり</span>
                                }
                                else
                                {
                                    <input type="checkbox" disabled /> <span>契約なし</span>

                                }
                            </td>
                            <td><button @onclick='() => GoToEdit(a.AuthorId)' class="btn btn-primary">選択</button></td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
}

@code {
    // 外部パラメータ

    // ビューモデル
    private List<AuthorOverview>? authors = new List<AuthorOverview>();

    // イベントハンドラ(アプリケーション処理)
    protected override async Task OnInitializedAsync()
    {
        authors = null;
        authors = await httpClientFactory.CreateClientWithRetry().GetFromJsonAsync<List<AuthorOverview>>("/api/BizGroupE/EditAuthorByOptimistic/ListAuthors/GetAuthors");
    }

    private void GoToEdit(string authorId)
    {
        navigationManager.NavigateTo("/BizGroupE/EditAuthorByOptimistic/EditAuthor/" + authorId);
    }
}
